<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="LoadDateInitialEnd" value="1997-12-31 00:00:00" />
    <Parameter name="LoadDateIncrementalEnd" value="1998-01-06 00:00:00" />
	<Parameter name="DBFilesPath" value="\MSSQL15.MSSQLSERVER\MSSQL\DATA" />
    <Parameter name="SQLServerFiles" value="C:\Program Files\Microsoft SQL Server" />
    <Parameter name="BuildConfiguration" value="Debug"/>
	<Parameter name="ExternalFilesPath" value="C:\Users\zinyk\source\repos\Northwind_BI_Solution"/>
	<Parameter name="XMLCalendarFolder" value="C:\Users\zinyk\source\repos\XMLCalendar"/>
  </TestRunParameters>
  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="trx" enabled="True">
      </Logger>
    </Loggers>
  </LoggerRunSettings>
</RunSettings>